<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/src/main/java/com/rmc/ejerciciosT6/controller/EmpleadoController.java"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Nuevo usuario</h1>
    <form
      method="post"
      action="#"
      th:action="@{/usuario/nuevo/submit}"
      th:object="${usuarioForm}"
    >
      <input type="text" id="id" th:field="*{id}" hidden/> </label
      ><br />
      <label
        >Nombre:<input type="text" id="nombre" th:field="*{nombre}" /> </label
      ><br />
      <label
        >Contraseña:
        <input
          type="password"
          id="password"
          th:field="*{password}"
          minlength="4" /></label
      ><br />
      <label
        >Rol:
        <select name="rol">
          <option
            th:each="rol : ${Rol}"
            th:value="${rol}"
            th:text="${rol}"
          ></option></select></label
      ><br />

      <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/usuario/}">Volver a lista de usuarios</a>
  </body>
</html>
<!-- com.rmc.app.domain
<div th:each="gen : ${T(com.rmc.ejerciciosT6.domain.Genero).values()}">
  /src/main/java/com/rmc/ejerciciosT6/domain/Enum.java -->
<!-- <input
    type="radio"
    name="button1"
    th:value="${gen}"
    th:text="${gen}"
    th:field="*{genero}"
  />
</div> -->
