<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      method="post"
      action="#"
      th:action="@{/editar/submit}"
      th:object="${empleadoForm}"
    >
      <label
        >Importe:
        <input type="text" id="importe" th:field="*{importe}" /></label
      ><br />
      <div id="origen">
        <label
          >Moneda de origen:
          <select id="origen" th:field="*{monedaOrigen}"></select
        ></label>
      </div>
      <div id="destino">
        <label
          >Moneda de destino:
          <select id="origen" th:field="*{monedaDestino}"></select
        ></label>
      </div>

      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
