<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista departamentos</title>
  </head>
  <body>
    <h1 th:text="${listaDepartamentos}">Lista departamentos</h1>
    <table>
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
      </thead>
      <tbody>
        <tr th:each="empleado : ${listaEmpleados}">
          <td th:text="${empleado.id}">Id</td>
          <td th:text="${empleado.nombre}">nombre</td>
          <td>
            <a th:href="@{/departamento/editar/{id}(id=${departamento.id})}"
              >Editar</a
            >
          </td>
          <td>
            <a th:href="@{/departamento/borrar/{id}(id=${departamento.id})}"
              >Borrar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="/departamento/nuevo">Nuevo departamento</a>
  </body>
</html>
