<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <nav th:fragment="mainMenu" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- menú común para el público -->
          <li class="nav-item"><a th:href="@{/public/inicio}"><button>Inicio</button></a></li>
          <li class="nav-item"><a th:href="@{/public/contacto}"><button>Contacta</button></a></li>
          <!-- menú de gestión de usuarios (solo administradores) -->
          <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            <a th:href="@{/public/somos}"><button>¿Quienes somos?</button></a>
          </li>
          <!-- menú: Registrarse (solo si no autenticado) -->
          <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/producto/}"><button>Productos</button></a>
          </li>
          <!-- menú: Iniciar sesión (solo si no autenticado) -->
          <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/categoria/}"><button>Categorias</button></a>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/signin}"><button>Login</button></a>
          </li>
          <!-- menú: nombre-usuario (solo si autenticado) -->
          <li class="nav-item ms-md-auto dropdown " sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span sec:authentication="name"></span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="@{/usuario/editarPerfil/}">Editar perfil</a></li>
              <li><a class="dropdown-item" href="@{/usuario/cambiarContrasena}">Cambiar Contraseña</a></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión GET</a></li>
              <li>
                <form th:action="@{/logout}" method="post">
                  <button class="dropdown-item" type="submit">Cerrar sesión POST</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>