<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 3.4</title>
</head>
<body>

    <h1>Listado de numeros aleatorios</h1>
    <table border="1px">

        <thead><th>Numero</th><th>Operacion</th></thead>
        <tr th:each="numero: ${listaNumeros}">
            <td th:text="${numero}">Numero</td>
            <td><a th:href="@{/delete/{id}(id=${numero})}">Delete</a></td>
        </tr>
    </table>
    Total numeros: <span th:text="${cantidadTotal}">0</span><br/>
    <a href="/new">Nuevo numero</a>
</body>
</html>