<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Datos enviados correctamente</span><br/>
    <span>Los datos introducidos son: </span><br/>
    <span th:text="${nombre}">Nombre: </span><br/>
    <span th:text="${email}">Email: </span><br/>
    <span th:text="${opcion}">Opcion: </span><br/>
    <span th:text="${comentario}">Comentarios: </span><br/>
    <span th:text="${aceptar}">Condiciones aceptadas: </span><br/>
</body>
</html>