<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/src/main/java/com/rmc/ejerciciosT6/controller/EmpleadoController.java"></script>
    <title>Editar contraseña</title>
  </head>
  <body>
    <h1>Editar contraseña</h1>
    <form
      method="post"
      action="#"
      th:action="@{/usuario/editarContrasena/submit}"
      th:object="${usuarioForm}"
    >
      <label>Id:<input type="text" id="id" th:field="*{id}" hidden/> </label
      ><br />
      <label
        >Contraseña:
        <input type="password" id="password" th:field="*{password}" /></label
      ><br />
      <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/usuario/}">Inicio</a><br />
  </body>
</html>
