<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Contactar con nosotros</h1>
    <form
      method="post"
      action="#"
      th:action="@{/public/contacto/submit}"
      th:object="${contactoForm}"
    >
      <input type="text" id="id" th:field="*{id}" hidden /><br />
      <label
        >Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label
      ><br />
      <label>Email: <input type="text" id="email" th:field="*{email}" /></label
      ><br />
      <label
        >Mensaje:
        <input type="text" id="mensaje" th:field="*{mensaje}" /></label
      ><br />
      <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/public/}">Inicio</a><br />
  </body>
</html>
