<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Editar producto</h1>
    <form
      method="post"
      action="#"
      th:action="@{/cuenta/editar/submit}"
      th:object="${cuentaForm}"
    >
      <label
        >IBAN:<input type="text" id="IBAN" th:field="*{IBAN}" hidden /> </label
      ><br />
      <label
        >Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label
      ><br />
      <label
        >Saldo:
        <input type="text" id="saldo" th:field="*{saldo}" hidden /></label
      ><br />
      <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/cuenta/}">Inicio</a><br />
  </body>
</html>
