<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periodo entre dos fechas</title>
</head>
<body>

    <h1>Años bisiestos</h1>
    <span>Entre la fecha </span>
    <span th:text="${fecha1}"></span> y
    <span th:text="${fecha2}"> estos son los años bisiestos
        <table>
            <tr th:each="anno : ${annosBisiestos}">
              <td th:text="${anno}"></td>
            </tr>
          </table>
          
</body>
</html>