<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      function changeCategory() {
        window.location.href =
          "/movimiento/list/" + document.getElementById("select").value;
      }
    </script>
    <title>Movimientos de cuenta</title>
  </head>
  <body>
    <h1>Movimientos de cuenta</h1>
    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Importe</th>
          <th>Cuenta</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="movimiento : ${listaMovimientos}">
          <td th:text="${movimiento.id}">Id</td>
          <td th:text="${movimiento.fecha}">Fecha</td>
          <td th:text="${movimiento.importe}">Importe</td>
          <td th:text="${movimiento.cuenta.iban}">IBAN</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
