<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="https://banner2.cleanpng.com/20180904/gg/kisspng-java-scalable-vector-graphics-clip-art-logo-5b8e47dab36025.8520379415360511627347.jpg">
    <title>Ejercicio 2.1</title>
</head>
<body>

    <!-- <button th:href="@{/calculos/calc}">Página de calculos</button> -->
    <!-- <button src="./fechasView.html">Página de fechas</button> -->
    <a th:href="@{/calculos/calc}">Página de calculos</a>
    <a th:href="@{/fechas/calcular}">Página de fechas</a>
      
</body>
</html>