<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Listado de valoraciones de los productos</h1>
    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Comentario</th>
          <th>Puntuacion</th>
          <th>Fecha de publicacion</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="valoracion : ${listavaloraciones}">
          <td th:text="${valoracion.id}">Id</td>
          <td th:text="${producto.nombre}">Usuario</td>
          <td th:text="${valoracion.comentario}">Comentario</td>
          <td th:text="${valoracion.puntuacion}">Puntuacion</td>
          <td th:text="${valoracion.fecha}">Fecha</td>
          <td>
            <a th:href="@{/valoracion/editar/{id}(id=${valoracion.id})}"
              >Editar</a
            >
          </td>
          <td>
            <a th:href="@{/valoracion/borrar/{id}(id=${valoracion.id})}"
              >Borrar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/inicio}">Inicio</a><br />
    <a th:href="@{/valoracion/nuevo}">Nueva valoracion</a><br />
  </body>
</html>
